<div>
    <h1>Nosotros</h1>
    <p>
        Micro JPM es una tienda electrónica ubicada en Cartago, Costa Rica; 
        donde puedes encontrar una amplia variedad de componentes e instrumentos 
        electrónicos que normalmente son difíciles de localizar en el mercado nacional. 
        Micro JPM es una electrónica virtual y ahora tienda física que pone a disposición 
        diferentes componentes que requieren principalmente estudiantes universitarios.
    </p>

    <h1>Misión</h1>
    <p>
        Ser el proveedor de componentes, equipo y herramienta para Electrónica, brindando soluciones de calidad, respaldo y garantía.
    </p>

    <h1>Visión</h1>
    <p>
        Ser la compañía lider que ofrece la mejor opción en componentes, equipo y herramienta para Electrónica en el área académica e 
        industrial, brindando productos y servicios de calidad con el mejor personal.
    </p>
</div>